@model ProductDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/lib/OwlCarousel2/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/OwlCarousel2/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/content/product/details.css" rel="stylesheet" />
}
<section class="content">
    <div class="container white">
        <div class="row">
            <div class="col-sm-10 col-xs-12">
                <h4>@Model.Inventory.Title</h4>
                <div class="dealer">
                    <ul class="information">
                        <li><i class="fa fa-map-marker"></i> @Model.Inventory.DealerInfo.Address @Model.Inventory.DealerInfo.City, @Model.Inventory.DealerInfo.State  @Model.Inventory.DealerInfo.Zip</li>
                        @if (!String.IsNullOrEmpty(Model.Inventory.DealerInfo.PhoneNumber))
                        {
                            <li><a href="tel:Model.Inventory.DealerInfo.PhoneNumber"><i class="fa fa-phone"></i>  @String.Format("{0:(###) ###-####}", Int64.Parse(Model.Inventory.DealerInfo.PhoneNumber))</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                @if (Model.Inventory.Price > 0)
                {
                    <h4>@string.Format("{0:C0}", Model.Inventory.Price)</h4>
                    <em>Plus Tax</em>
                }
                else
                {
                    <h4>Price: N/A</h4>
                }
            </div>
        </div>
        <div class="row">
            <ul class="information outlined">
                @if (!String.IsNullOrEmpty(Model.Inventory.DealerInfo.Email))
                {
                    <li class=""><a href="mailto:@Model.Inventory.DealerInfo.Email?subject=@Model.Inventory.Title&body=I would like more information." class="fancybox_div">Request More Info</a></li>
                }
                <li class=""><a href="#" class="print_page">Print This Vehicle</a></li>
                <li class=""><a href="#" class="fancybox_div">Email to a Friend</a></li>
            </ul>
        </div>
        <div class="row no-margin">
            <div class="col-sm-8 col-xs-12">
                <!--OPEN OF SLIDER-->
                <div class="listing-slider">
                    @if (Model.Inventory.Images == null || Model.Inventory.Images.Count == 0)
                    {
                        <div style="background-color:#EEEEEE;min-height:20em;min-width: 40em;">
                            <img style="display:block;margin:auto;" src="~/images/dealer/no-image-found.jpg" alt="No Image Found" />
                        </div>
                    }
                    else
                    {
                        <div class="owl-carousel owl-theme" id="home-slider-canvas">
                            @foreach (DealerInventoryImage image in Model.Inventory.Images)
                            {
                                <div class="item">
                                    <img onerror="this.src='~/images/dealer/no-image-found.jpg'" alt="" src="@image.WebPath" />
                                </div>
                            }
                        </div>
                    }
                </div>
                <!--CLOSE OF SLIDER-->
                <!--Slider End-->
            </div>
            <div class="offset-1 col-md-3 col-sm-3 right-content padding-right-none">
                <div class="side-content">
                    <div class="financing_calculator margin-top-40">
                        <h6 class="header">FINANCING CALCULATOR</h6>
                        <div class="table-responsive">
                            <table class="table no-border no-margin small-text">
                                <tbody>
                                    <tr>
                                        <td>Cost of Vehicle ($):</td>
                                        <td><input type="text" class="number cost" value="@string.Format("{0:C0}", Model.Inventory.Price)" /></td>
                                    </tr>
                                    <tr>
                                        <td>Down Payment ($):</td>
                                        <td><input type="text" class="number down_payment" /></td>
                                    </tr>
                                    <tr>
                                        <td>APR (%):</td>
                                        <td><input type="text" class="number interest" /></td>
                                    </tr>
                                    <tr>
                                        <td>Term of Loan in Years:</td>
                                        <td><input type="text" class="number loan_years" /></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Calculated Amount:</td>
                                        <td>
                                            <span id="calculationResult"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <a class="btn btn-primary pull-right calculate">Calculate</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-margin ">
            <div class="col-sm-12 description">
                @Model.Inventory.Description
            </div>
        </div>
        <div class="row">
            <div class="table-responsive col-sm-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>YEAR:</td>
                            @if (Model.Inventory.Year > 0)
                            {
                                <td>@Model.Inventory.Year</td>
                            }
                            else
                            {
                                <td>Not Available</td>
                            }
                            <td>MAKE:</td>
                            @if (!String.IsNullOrEmpty(Model.Inventory.QInventoryMakeOther))
                            {
                                <td>@Model.Inventory.QInventoryMakeOther</td>
                            }
                            else if (Model.Inventory.Make != null && !String.IsNullOrEmpty(Model.Inventory.Make.Name))
                            {
                                <td>@Model.Inventory.Make.Name</td>
                            }
                            else
                            {
                                <td>Not Available</td>
                            }
                        </tr>
                        <tr>
                            <td>MODEL:</td>
                            @if (!String.IsNullOrEmpty(Model.Inventory.QInventoryModelOther))
                            {
                                <td>@Model.Inventory.QInventoryModelOther</td>
                            }
                            else if (Model.Inventory.Model != null && !String.IsNullOrEmpty(Model.Inventory.Model.Name))
                            {
                                <td>@Model.Inventory.Model.Name</td>
                            }
                            else
                            {
                                <td>Not Available</td>
                            }
                            <td>DECK:</td>
                            @if (!String.IsNullOrEmpty(Model.Inventory.QInventoryModelOptionOther))
                            {
                                <td>@Model.Inventory.QInventoryModelOptionOther</td>
                            }
                            else if (Model.Inventory.ModelOption != null && !String.IsNullOrEmpty(Model.Inventory.ModelOption.Name))
                            {
                                <td>@Model.Inventory.ModelOption.Name</td>
                            }
                            else
                            {
                                <td>Not Available</td>
                            }
                        </tr>
                        <tr>
                            <td>ENGINE MODEL:</td>
                            @if (!String.IsNullOrEmpty(Model.Inventory.EngineBrand))
                            {
                                <td>@Model.Inventory.EngineBrand</td>
                            }
                            else
                            {
                                <td>Not Available</td>
                            }
                            <td>ENGINE HP:</td>
                            @if (!String.IsNullOrEmpty(Model.Inventory.EngineHorsePower))
                            {
                                <td>@Model.Inventory.EngineHorsePower</td>
                            }
                            else
                            {
                                <td>Not Available</td>
                            }
                        </tr>
                        <tr>
                            <td>SERIAL NUMBER:</td>
                            @if (!String.IsNullOrEmpty(Model.Inventory.SerialNumber))
                            {
                                <td>@Model.Inventory.SerialNumber</td>
                            }
                            else
                            {
                                <td>Not Available</td>
                            }
                            <td>CONDITION:</td>
                            <td>@Model.Inventory.ConditionString</td>
                        </tr>
                        <tr>
                            <td>WARRANTY:</td>
                            @if (!String.IsNullOrEmpty(Model.Inventory.Warranty))
                            {
                                <td colspan="3">@Model.Inventory.Warranty</td>
                            }
                            else
                            {
                                <td colspan="3">Not Available</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h5>Dealer Information</h5>
            <ul class="information">
                <li> @Model.Inventory.DealerInfo.Name <i class="fa fa-map-marker"></i> @Model.Inventory.DealerInfo.Address @Model.Inventory.DealerInfo.City, @Model.Inventory.DealerInfo.State  @Model.Inventory.DealerInfo.Zip</li>
                @if (!String.IsNullOrEmpty(Model.Inventory.DealerInfo.PhoneNumber))
                {
                    <li><a href="tel:Model.Inventory.DealerInfo.PhoneNumber"><i class="fa fa-phone"></i>  @String.Format("{0:(###) ###-####}", Int64.Parse(Model.Inventory.DealerInfo.PhoneNumber))</a></li>
                }
            </ul>
        </div>
    </div>
    <!--container ends-->
</section>


@section Scripts{
    <script src="~/js/namespace.js"></script>
    <script src="~/js/product/details.js"></script>
}